body{
    margin: 0px;
    padding: 0px;
}
.nav{
    background-color: #2a2849;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: background-color 0.5s ease;
    
}
.nav li{
    display: inline;
    margin-right: 20px;
    list-style-type: none;
}
.nav li a{
    color: #e7eaeb;
    display: inline-block;
    padding: 10px;
    padding-bottom: 0px;
    text-decoration: none;
    transition: color 0.5s ease; 
}
.nav li a:hover{
    color: #9b9599; 
 
}

.nav li.dropdown a:hover{
    position: relative;
    display: flex;
}
.dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 105%;
    left: 500px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 200px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.dropdown-container:hover .dropdown,
.dropdown:hover {
    visibility: visible;
    opacity: 1;
}
.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
}
.dropdown ul li a:hover {
    background-color: #f0f0f0;
    color: #968e8b;
    text-decoration: none;
    transition: background-color 0.5s ease;
}
.main{

    background-color: #f7f7f7;
    margin-top: 60px;
    text-align: center;
}
.main h1{
    font-size: 40px;
    margin-bottom: 30px;
    padding: 5px;
    color:#2a2849;
}